.header-wrapper {
    & > .main-nav {
        @media screen and (max-width: 767px) {
            display: none;
        }

        & .nav-list__item {
            position: fixed;

            &:first-child {
                top: 50%;
                right: 0;

                transform: translateY(-50%);
                rotate: 90deg;
            }

            &:nth-child(2) {
                left: 50%;
                bottom: 0.75rem;

                transform: translateX(-50%);

                @media screen and (min-width: 1440px) {
                    bottom: 1.19rem;
                }
            }

            &:last-child {
                top: 50%;
                left: 0;

                transform: translateY(-50%);
                rotate: 270deg;
            }
        }
    }
}

.nav-list__link {
    position: relative;

    font-weight: 600;

    transition: color var(--duration) var(--timing-function);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: currentcolor;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover,
    &:focus {
        color: var(--white-color);

        &::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}